body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(249, 54, 54);
}

.titulo {
    text-align: center;
    font-size: 24px;
    padding: 30px;
    background-image: url('fondo.gif'); 
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

nav {
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    color: #ffd700;
}
footer {
    text-align: center;
    padding: 5px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Peru.svg');
    color: rgb(8, 8, 8);
    background-repeat: no-repeat;
    background-size: cover;
}
#zonas, #recursos, #desarrollo{
    background-color: rgb(225, 225, 225);
    margin: 40px;
    border-radius: 25px;
    padding: 20px;
}
.t1, h2{
    
    margin: 25px;
    border-radius: 25px;
    text-align: center;
}
h2{
    font-size: 60px;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lugar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(20% - 20px); 
    box-sizing: border-box;
    overflow: hidden;
}

img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.contenido {
    padding: 10px;
}

h3 {
    margin: 0;
    font-size: 1.2em;
}

p {
    font-size: 0.9em;
    color: #555;
}
.t1{
    padding: 5px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Peru.svg');
    color: rgb(8, 8, 8);
    background-repeat: no-repeat;
    background-size: cover;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid black;

    border: 10px;
    
}
th, td {
    padding: 25px;
    text-align: center;
    border: 2px solid black;
    background-color: #fc9090;
}
th {
    background-color: #fd6262;
    color: rgb(0, 0, 0);
    border: 2px solid black;
}
.table-img {
    width: 100%; 
    height: 100px; 
    object-fit: cover; 
}
.imagen {
flex: 1; 
 max-width: 300px; 
}
.imagen img {
width: 100%; 
height: auto; 
}
.descripcion {
flex: 2; 
padding: 20px;
}
h2 {
margin: 0 0 10px;
}
p {
color: #555;
}